:root {
  --primary: #333333;
  --secondary: #ffce1f;
  --tertiary: #B12704;
  --light: #fafafa;
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);

}

* {
  box-sizing: border-box;
}


html {
  min-height: 100%;
  background: url(/src/assets/images/background3.png) no-repeat center center fixed;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;  
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  color: var(--light);
  font-family:'Josefin Slab', serif;;
}

h1,
h2,
h3
 {
  font-family: 'Josefin Slab', serif;  
  font-weight: 800;
  margin: 1vw 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

p {
  font-size: 1.5rem;
  margin-top: 0;
  border-radius: 5px;
	color: var(--light);
	padding: 2px 4px;
	margin-left: -2px;
	margin-right: -2px;
}

a {
  color: var(--secondary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

header {
  background: var(--primary);

}

header a {
  color: var(--light);
}

button {
  font-size: 1rem;
  text-decoration: none;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  background: var(--secondary);
	color: var(--primary);
	font-weight: 600;
	margin-bottom: 30px;
	padding: 10px 15px;	
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

span[role="img"] {
  cursor: default;
}

form {
  width: 40%;
}

input {
  width: 600px;
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--primary);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

li {
  list-style: none;
}

nav {
  margin-left: 28vw;
}

nav a:hover {
  text-decoration: none;
}

nav  li {
  cursor: pointer;
}

textarea {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
}

.title {
  margin-left: 2vw;
}

.sec-title {
  color: var(--secondary);
}

.container {
  width: 60%;
  max-width: 1200px;
  margin-left: 10vw;
  margin-right: auto;
}

.about-container {
  width: 40%;
  max-width: 1200px;
  margin-left: 10vw;
  margin-right: auto;
}

.resume-container {
  margin-top: 10vh;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.nav-title {
  font-size: 13rem;
  color: var(--secondary);
}

.navActive {
  color: var(--secondary);
}

.project {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.proj-img {
  max-width: 50%;
  opacity: 0.25;
}

.git-img {
  height: 30px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--primary);
  margin-top: 32vh;
}

.links-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding-right: 5vw;
}

.email {
  color: #fafafa;
}

.footer-img {
  height: 6vh
}

.footer-img-stack {
  height: 8vh;
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (min-width: 480px) {
  .title {
    font-size: 1.5rem;
  }

  nav {
    margin: 10px 0 10px 0;
  }

  .flex-row {
    margin: 0;
    padding: 0;
  }

  .mx-2 {
    font-size: 1rem;
  }

  .sec-title {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  .proj-img {
    max-width: 100%;  
  }

  h3 {
    font-size: 1.1rem;
  }

  h4 {
    font-size: 1rem;
  }

  input {
    width: 300px;
  }

  textarea {
    width: 300px;
  }  
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (min-width: 768px) {
  nav {
    margin-left: 20vw;
  }
  
  p {
    font-size: 1.2rem;
  }

  .proj-img {
    max-width: 100%;  
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  input {
    width: 400px;
  }

  textarea {
    width: 400px;
  }  
}

/* MEDIA QUERY FOR SMALL LAPTOPS AND SMALLER */
@media screen and (min-width: 1024px) {
  nav {
    margin-left: 15vw;
  }

  .mx-2 {
    font-size: 1.3rem;
  }

  p {
    font-size: 1.3rem;
  }

  .proj-img {
    max-width: 100%;  
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  input {
    width: 500px;
  }

  textarea {
    width: 500px;
  } 
}

/* MEDIA QUERY FOR LARGE DESKTOPS AND SMALLER */
@media screen and (min-width: 1200px) {
  nav {
    margin-left: 25vw;
  }

  .mx-2 {
    font-size: 1.3rem;
  }

  .proj-img {
    max-width: 100%;  
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  input {
    width: 600px;
  }

  textarea {
    width: 600px;
  } 
};